[Desktop Entry]
Type=Application
Name=lf
Comment=Launches the lf file manager
Icon=utilities-terminal
# Terminal=true
# %f is a file on which xdg-open is called
Exec=sh -c "eval \$TERM -e lf %f"
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
